html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif !important;
  background-color: #f0f0f0;
}


.clicked {
  font-weight: bold;
  font-size: 15px;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transform: scale(1.1);
}

.ant-btn-primary {
  background-color: #8685ef !important;
  border-color: #8685ef !important;
}

.custom-sider .ant-layout-sider-trigger {
  background-color: #f0f0f0 !important; /* 원하는 배경색으로 변경 */
  color: black !important;
}

.ant-layout-sider-children .ant-menu-item.ant-menu-only-child {
  height: 1000px !important;
}
