{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node":true,
    "es6":true
  },
  "extends":[
    "airbnb",
    "next"
  ],
  "plugins": [
    "import",
    "react-hooks",
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "linebreak-style":"off",
    "jsx-ally/label-has-associated-control":"off",
    "no-console":"off",
    "jsx-ally/anchor-is-valid":"off",
    "no-underscore-dangle":"off",
    "react/forbid-prop-types":"off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line":"off",
    "object-curly-newline":"off",
  }
}

//.은 리눅스랑 맥북에서는 숨김의 의미를 가지고 있다